/* line 29, ../../sass/layouts/responsive-grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 72, ../../sass/layouts/responsive-grid.scss */
.row {
  clear: both;
}

/* line 74, ../../sass/layouts/responsive-grid.scss */
div.omega {
  margin-right: 0;
}

/* line 125, ../../sass/layouts/responsive-grid.scss */
.col {
  height: 100px;
  background: yellow;
}

/* line 129, ../../sass/layouts/responsive-grid.scss */
.col:last-of-type {
  margin-right: 0;
}

/* line 132, ../../sass/layouts/responsive-grid.scss */
.underlay {
  margin: 5px 0;
  display: block;
  clear: both;
  height: 110px;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='1of1'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='1of2'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='2of2'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='2of4'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='3of3'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='3of6'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='4of4'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='4of8'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='5of5'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='5of10'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='6of6'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='6of12'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='7of7'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='7of14'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='8of8'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='8of16'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='9of9'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='9of18'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='10of10'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='10of20'] {
    background: green;
    margin-right: 0;
  }

  /* line 143, ../../sass/layouts/responsive-grid.scss */
  div[class*='11of11'] {
    background: green;
    margin-right: 0;
  }

  /* line 149, ../../sass/layouts/responsive-grid.scss */
  div[class*='11of22'] {
    background: green;
    margin-right: 0;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='1of1'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='1of2'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='2of2'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='2of4'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='3of3'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='3of6'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='4of4'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='4of8'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='5of5'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='5of10'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='6of6'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='6of12'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='7of7'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='7of14'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='8of8'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='8of16'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='9of9'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='9of18'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='10of10'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='10of20'] {
    background: green;
  }

  /* line 160, ../../sass/layouts/responsive-grid.scss */
  div[class*='11of11'] {
    background: green;
    margin-right: 0;
  }

  /* line 166, ../../sass/layouts/responsive-grid.scss */
  div[class*='11of22'] {
    background: green;
  }
}
@media (min-width: 1220px) {
  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='1of1'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='1of2'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='2of2'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='2of4'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='3of3'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='3of6'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='4of4'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='4of8'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='5of5'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='5of10'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='6of6'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='6of12'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='7of7'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='7of14'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='8of8'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='8of16'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='9of9'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='9of18'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='10of10'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='10of20'] {
    background: green;
  }

  /* line 177, ../../sass/layouts/responsive-grid.scss */
  div[class*='11of11'] {
    background: green;
    margin-right: 0;
  }

  /* line 183, ../../sass/layouts/responsive-grid.scss */
  div[class*='11of22'] {
    background: green;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_1 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_1 {
    width: 12.2807%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_1 {
    width: 5.98291%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_1 {
    width: 5.98291%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_2 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_2 {
    width: 29.82456%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_2 {
    width: 14.52991%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_2 {
    width: 14.52991%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_3 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_3 {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_3 {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_3 {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_4 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_4 {
    width: 64.91228%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_4 {
    width: 31.62393%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_4 {
    width: 31.62393%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_5 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_5 {
    width: 82.45614%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_5 {
    width: 40.17094%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_5 {
    width: 40.17094%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_6 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_6 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_6 {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_6 {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_7 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_7 {
    width: 117.54386%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_7 {
    width: 57.26496%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_7 {
    width: 57.26496%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_8 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_8 {
    width: 135.08772%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_8 {
    width: 65.81197%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_8 {
    width: 65.81197%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_9 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_9 {
    width: 152.63158%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_9 {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_9 {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_10 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_10 {
    width: 170.17544%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_10 {
    width: 82.90598%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_10 {
    width: 82.90598%;
    float: left;
    margin-right: 2.5641%;
  }
}
/* line 206, ../../sass/layouts/responsive-grid.scss */
.span_11 {
  width: 100%;
  float: left;
  margin-right: 42.85714%;
  display: inline;
}

@media (min-width: 768px) and (max-width: 960px) {
  /* line 209, ../../sass/layouts/responsive-grid.scss */
  .span_11 {
    width: 187.7193%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 222, ../../sass/layouts/responsive-grid.scss */
  .span_12,
  .span_11,
  .span_10,
  .span_9,
  .span_8,
  .span_7,
  .span_6,
  .span_5,
  .span_4 {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  /* line 229, ../../sass/layouts/responsive-grid.scss */
  .span_11 {
    width: 91.45299%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1220px) {
  /* line 233, ../../sass/layouts/responsive-grid.scss */
  .span_11 {
    width: 91.45299%;
    float: left;
    margin-right: 2.5641%;
  }
}
